.syntaxhighlighter {
    padding: 15px 3px;
    direction: ltr !important;
    background-color: #1e1e1e !important;
}

    .syntaxhighlighter .line::selection {
        background: #80aad2 !important;
        color: inherit;
    }

    .syntaxhighlighter code::selection {
        background: #80aad2 !important;
        color: inherit;
    }

    .syntaxhighlighter .line::-moz-selection {
        background: #264f78 !important;
        color: inherit;
    }

    .syntaxhighlighter code::-moz-selection {
        background: #264f78 !important;
        color: inherit;
    }

    .syntaxhighlighter .line.alt1 {
        background-color: #1e1e1e !important;
    }

    .syntaxhighlighter .line.alt2 {
        background-color: #1e1e1e !important;
    }

    .syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
        background-color: #e0e0e0 !important;
    }

    .syntaxhighlighter .line.highlighted.number {
        color: black !important;
    }

    .syntaxhighlighter table caption {
        color: black !important;
    }

    .syntaxhighlighter .gutter {
        color: #289e9d !important;
    }

        .syntaxhighlighter .gutter .line {
            border-right: 1px solid #a5a5a5 !important;
        }

            .syntaxhighlighter .gutter .line.highlighted {
                background-color: #6ce26c !important;
                color: white !important;
            }

    .syntaxhighlighter.printing .line .content {
        border: none !important;
    }

    .syntaxhighlighter.collapsed {
        overflow: visible !important;
    }

        .syntaxhighlighter.collapsed .toolbar {
            color: blue !important;
            background: white !important;
            border: 1px solid #6ce26c !important;
        }

            .syntaxhighlighter.collapsed .toolbar a {
                color: blue !important;
            }

                .syntaxhighlighter.collapsed .toolbar a:hover {
                    color: red !important;
                }

    .syntaxhighlighter .toolbar {
        color: white !important;
        background: #6ce26c !important;
        border: none !important;
    }

        .syntaxhighlighter .toolbar a {
            color: white !important;
        }

            .syntaxhighlighter .toolbar a:hover {
                color: black !important;
            }

    .syntaxhighlighter .plain, .syntaxhighlighter .plain a {
        color: #dcdcdc !important;
    }

    .syntaxhighlighter .comments, .syntaxhighlighter .comments a {
        color: #57a64a !important;
    }

    .syntaxhighlighter .string, .syntaxhighlighter .string a {
        color: #d69d85 !important;
    }

    .syntaxhighlighter .keyword {
        color: #569cd6 !important;
        font-weight: bold !important;
    }

    .syntaxhighlighter .preprocessor {
        color: gray !important;
    }

    .syntaxhighlighter .variable {
        color: #aa7700 !important;
    }

    .syntaxhighlighter .value {
        color: #b5cea8 !important;
    }

    .syntaxhighlighter .functions {
        color: #ff1493 !important;
    }

    .syntaxhighlighter .constants {
        color: #0066cc !important;
    }

    .syntaxhighlighter .script {
        font-weight: bold !important;
        color: #006699 !important;
        background-color: none !important;
    }

    .syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
        color: #4ec9b0 !important;
    }

    .syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
        color: #b8fba3 !important;
    }

    .syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
        color: #608b4e !important;
    }
